.button {
  outline: none;
  margin-top: 39px;
  width: 241px;
  height: 60px;
  background-color: #00c2f0;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.07);
  border: none;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  outline: none !important;

  &_consultation {
    display: block;
    margin: 30px auto 0 auto;
  }
}
