.data {
  background: url(../../img/backgrounds/background_5.jpg) center (center/cover)
    no-repeat;
  min-height: 580px;
  max-height: 860px;
  padding-top: 75px;
  padding-bottom: 40px;

  &__wrapper {
    max-width: 1127px;
    display: flex;
    margin: 128px auto 0 auto;
  }

  &__wrapper > div {
    &:nth-child(2) {
      margin-left: 165px;
    }
  }

  &__item {
    position: relative;
    width: 483px;
  }

  &__title {
    position: relative;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    z-index: 1;

    &_right {
      text-align: right;
    }
  }

  &__descr {
    position: relative;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    z-index: 5;

    &_right {
      text-align: right;
    }
  }

  &__block {
    &::after {
      content: " ";
      position: absolute;
      top: -35px;
      left: -35px;
      display: block;
      width: 167px;
      height: 167px;
      opacity: 0.3;
      background: #00c2f0;
    }

    &_right {
      position: absolute;
      right: 97px;
    }
  }
}
