* {
  font-family: "Roboto", sans-serif;
  
}

.container {
  width: 1150px;
  margin: 0 auto;
}

.hamburger{
  display: none;
}

@import "blocks/header";
@import "blocks/promo";
@import "blocks/navigation";
@import "blocks/slider";
@import 'blocks/buttons';
@import 'blocks/dignity';


@import "base/media";
