
* {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1150px;
  margin: 0 auto;
}

.hamburger {
  display: none;
}

@import "blocks/header";
@import "blocks/promo";
@import "blocks/navigation";
@import "blocks/slider";
@import "blocks/buttons";
@import "blocks/dignity";
@import "blocks/titles";
@import "blocks/solutions";
@import "blocks/advantages";
@import "blocks/data";
@import "blocks/consultation";
@import "blocks/lines";
@import "blocks/footer";
@import "blocks/pageup";
@import "base/animation";

@import "base/media";
